a:link{
    color: bisque;
    font-size: large;
} 
a:hover{
    color: aquamarine;
    font-size: 1.3em;
}
a.active{
    color: chocolate;
    font-size: 1.1em;
}
a.visited{
    color: gray;
}
li:hover{
    background-color: rgb(24, 53, 216);
    color: brown;
}
li:active{
    background-color: bisque;
}
li:not(:hover){
    background-color: aliceblue;
}
/* can give any line in bracket which could be made change bg-color */
li:nth-child(even)
{
    background-color: aqua;
}
#greet p{
    display: none; 
    background-color: pink;
}
#greet:hover p{
     display: block;
}